doctype 

html 

    head
        title Contact Us
        link(rel='stylesheet', href='styles.css')
    body
        header
        include ./navbar.pug
        div
            h1 Contact Us
            p Telephone: +234 705 652 0550
            p Email: princewill_ogazi@yahoo.com