doctype 

html 

    head
        title Our Services
        link(rel='stylesheet', href='styles.css')
    body
        header 
        include ./navbar.pug
        h1 Services
        ul
                p HTML  
                p CSS 
                p JavaScript 
                p REACT

